
.card-body {
  height: 150px;
  max-height: 150px;
}

.property-type {
  color: #a52903;
  font-weight: bold;
}

.property-name {
  color: #363636;
  font-size: 16px;
  font-weight: bold;
  line-height: 22px;
  margin: 0;
}

.property-price {
  color: #484848;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  margin: 0;
  margin-top: 5px;
  text-align: end;
}

.card:hover {
  -webkit-box-shadow: 0px 0px 20px 3px #0F0F0F; 
  box-shadow: 0px 0px 20px 3px #0F0F0F;
} 

.card-img-top {
  max-height: 200px;
}

#logo {
  width: 25%;
  max-height: 70px;
}

.navbar {
  justify-content: space-between;

}

.navbar-brand {
  display: contents;
}




/* Footer */

section {
  padding: 60px 0;
}

section .section-title {
  text-align: center;
  color: #353a40;
  margin-bottom: 50px;
  text-transform: uppercase;
}
#footer {
  margin-top: -50px;
  background: #353a40 !important;
}
#footer h5{
  text-transform: uppercase;
  padding-bottom: 6px;
  margin-bottom: 20px;
  color:#63dc3e;
}

#footer p {
  color:#63dc3e;
}

#footer a {
  color: #ffffff;  
  text-decoration: none !important;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}
#footer ul.social li{
  padding: 3px 0;
}
#footer ul.social li a i {
  margin-right: 5px;
  font-size: 50px;
  -webkit-transition: .5s all ease-in-out;
  -moz-transition: .5s all ease-in-out;
  transition: .5s all ease-in-out;
}
#footer ul.social li:hover a i {
  font-size: 60px;
  margin-top: -10px;
}
#footer ul.social li a,
#footer ul.quick-links li a{
  color: #ffffff;
}
#footer ul.social li a:hover{
  color: #eeeeee;
}
#footer ul.quick-links li{
  padding: 3px 0;
  -webkit-transition: .5s all ease;
  -moz-transition: .5s all ease;
  transition: .5s all ease;
}
#footer ul.quick-links li:hover{
  padding: 3px 0;
  margin-left: 5px;
  font-weight: bold;
}
#footer ul.quick-links li a i{
  margin-right: 5px;
}
#footer ul.quick-links li:hover a i {
  font-weight: bold;
}

#footer div.creditos {
  justify-content: center;
}
